<template>
  <div>
    <div
      v-for="message in messages"
      :key="message.id"
      :class="{
        'user-message': message.role === 'user',
        'bot-message': message.role === 'bot',
      }"
    >
      <span v-if="message.role === 'user'" class="user">User : </span>
      <span v-else class="bot">Bot : </span>
      <span v-if="message.role === 'user'" class="question">{{
        message.content
      }}</span>
      <span v-else class="answers">{{ message.content }}</span>
    </div>
    <br /><br />
    <input
      v-model="userMessage"
      @keydown.enter="sendMessageCoustom"
      placeholder="Type your message..."
    />
  </div>
</template>

<script>
import axios from "axios";

export default {
  data() {
    return {
      messages: [],
      userMessage: "",
      openaiApiKey: "api-key-from-open-api",
      model: "davinci:ft-personal-2023-04-03-13-78-64",//add correct model name
    };
  },
  methods: {
    sendMessage() {
      if (this.userMessage) {
        // Add user message to the messages array
        this.messages.push({
          role: "user",
          content: this.userMessage,
        });

        // Send message to OpenAI API
        axios
          .post(
            "https://api.openai.com/v1/chat/completions",
            {
              model: this.model,
              messages: [
                {
                  role: "user",
                  content: this.userMessage,
                },
              ],
            },
            {
              headers: {
                "Content-Type": "application/json",
                Authorization: `Bearer ${this.openaiApiKey}`,
              },
            }
          )
          .then((response) => {
            // Add bot response to the messages array
            this.messages.push({
              role: "bot",
              content: response.data.choices[0].message.content,
            });
            console.log("Message Array ->", this.messages);
          })
          .catch((error) => {
            console.error(error);
          });

        // Clear the input field
        this.userMessage = "";
      }
    },
    sendMessageCoustom() {
      if (this.userMessage) {
        // Add user message to the messages array
        this.messages.push({
          role: "user",
          content: this.userMessage,
        });

        // Send message to OpenAI API
        axios
          .post(
            "https://api.openai.com/v1/completions",
            {
              model: this.model,
              prompt: this.userMessage,
              max_tokens: 7,
              temperature: 0,
              top_p: 1,
              n: 1,
              stream: false,
              logprobs: null,
              stop: "\n",
            },
            {
              headers: {
                "Content-Type": "application/json",
                Authorization: `Bearer ${this.openaiApiKey}`,
              },
            }
          )
          .then((response) => {
            // Add bot response to the messages array
              console.log("Message Array ->", response);
            this.messages.push({
              role: "bot",
              content: response.data.choices[0].text,
            });
            console.log("Message Array ->", response);
          })
          .catch((error) => {
            console.error(error);
          });

        // Clear the input field
        this.userMessage = "";
      }
    },
  },
};
</script>

<style scoped>
.question {
  font-size: 16px;
  font-weight: 700;
  color: grey;
}
.answers {
  font-size: 16px;
  font-weight: 800;
  color: grey;
}
.user {
  font-size: 16px;
  font-weight: 800;
  color: black;
}
.bot {
  font-size: 16px;
  font-weight: 800;
  color: green;
}
</style>
